<section id="footer">
    <div id="footer-center">
        <div class="container">
            <div class="row">
                <div class="column col-xs-12 col-sm-6 col-lg-2" style="width: 25%">
                    <div class="box info">
                        <div class="box-heading"><span>关于我们</span></div>
                        <div class="box-content">
                            <ul class="list">
                                <li><a href="http://www.qiguosh.com/index.php?route=information/information&amp;information_id=4">关于我们</a></li>
                                <li><a href="http://www.qiguosh.com/index.php?route=information/information&amp;information_id=6">加入我们</a></li>
                                <li><a href="http://www.qiguosh.com/index.php?route=information/information&amp;information_id=3">服务协议</a></li>
                                <li><a href="http://www.qiguosh.com/index.php?route=information/information&amp;information_id=5">版权隐私</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="column col-xs-12 col-sm-6 col-lg-2" style="width: 25%">
                    <div class="box customer-service">
                        <div class="box-heading"><span>会员服务</span></div>
                        <div class="box-content">
                            <ul class="list">
                                <li><a href="http://www.qiguosh.com/index.php?route=information/contact">联系我们</a></li>
                                <li><a href="http://www.qiguosh.com/index.php?route=account/return/insert">退换服务</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="column col-xs-12 col-sm-6 col-lg-2" style="width: 25%">
                    <div class="box extra">
                        <div class="box-heading"><span>其他</span></div>
                        <div class="box-content">
                            <ul class="list">
                                <li><a href="http://www.qiguosh.com/index.php?route=product/manufacturer">品牌专区</a></li>
                                <li><a href="http://www.qiguosh.com/index.php?route=account/voucher">礼&nbsp;品&nbsp;券</a></li>
                                <li><a href="http://www.qiguosh.com/index.php?route=affiliate/account">加盟会员</a></li>
                                <li><a href="http://www.qiguosh.com/index.php?route=product/special">特别优惠</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="column col-xs-12 col-sm-6 col-lg-3">
                    <div class="box contact-us">
                        <div class="box-heading"><span>联系我们</span></div>
                        <div class="box-content">
                            <ul class="contact-us" style="color: rgb(111,111,111);">
                                <li><i class="glyphicon glyphicon-globe">&nbsp;</i>杭州电子科技大学卓越学院bingo工作室</li>
                                <li><i class="glyphicon glyphicon-phone">&nbsp;</i>+ (86) 15958102642</li>
                                <li><i class="glyphicon glyphicon-envelope">&nbsp;</i> <a href="mailto:1215773109@qq.com">1215773109@qq.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="powered" style="padding: 22px 0;color: #999999;border-top: 1px solid #e2e2e2;background-color: rgb(1, 48, 107);">
        <div class="container">
            <div class="copyright pull-left" style="width: 100%;margin: auto;text-align: center">
                浙ICP备14016378号 Copyright 2014 bingo工作室 祺果生活 Designed by <a href="http://218.244.145.237:8082" title="pavethemes - opencart themes clubs" target="_blank">bingo工作室</a>
            </div>
        </div>
    </div>
</section>
<!-- 百度统计 -->
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F36a079133c3adb933cfaa2e439d8e476' type='text/javascript'%3E%3C/script%3E"));
</script>